@model MVCApp.Models.PostViewModels.PostViewModel
@{
    var isEditMode = !string.IsNullOrEmpty(Model.Id);
    ViewData["Title"] = "Post";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>@(isEditMode ? "Update" : "New") post</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (isEditMode)
            {
                <div class="form-group" hidden>
                    <input asp-for="Id" class="form-control" />
                </div>
            }
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailImage"></label>
                <input asp-for="ThumbnailImage" class="form-control" />
                <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">@(isEditMode ? "Update" : "Create")</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


