@model MVCApp.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="main-body"class="row">
    <div class="col-md-3 left-panel">
        <span class="category"> Categories </span>
        <ul>
            @foreach (var item in Model.Categories)
            {
                <li><a href="@Url.Action("Index", new { categoryId = item.CategoryId})">@item.Name</a></li>
            }
        </ul>
    </div>
    <div class="col-md-9 post-content">
        @foreach (var item in Model.Posts)
        { 
        <div class="row block-post">
            <div class="post-header">
                <img src="cdn/image/image?id=@item.ImageId" alt="No image"/>
            </div>
            <div class="post-body">
                <div>
                    <span class="title">@item.Title</span>
                </div>
                <div>
                    <span class="description">@item.ShortDescription</span>
                </div>
            </div>
        </div>
        }
    </div>
</div>
